* {
    background-color: darkblue;

}

.hide {
    display: none;
}


#tituloPrincipal {
    text-align: center;
    color: white;
    padding: 5px;
    border: 2px solid #ffe082;
    border-radius: 10px;
}

#estilot1,
#estilot2,
#estilot3,
#estilot4,
#estilot5,
#estilot6,
#estilot7 {
    text-align: center;
    color: white;
    padding: 5px;
    border: 2px solid #ffe082;
    border-radius: 10px;
}

#estiloForm1,
#estiloForm2,
#estiloForm3,
#estiloForm4 {

    border: 2px solid #ffe082;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 5px;

}

input,
select {
    border-radius: 10px;
    color: white;
}


textarea {
    border-radius: 10px;
    color: white;
}

button {
    background-color: black;
    border-radius: 10px;
    width: 30%;
    color: white;
}

button:hover {
    background-color: #222;
}

#estiloForm4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.estiloPrevisaoAgora {
    border: 2px solid #ffe082;
    border-radius: 10px;
    padding: 5px;
    width: 250px;

}

.llestilo {




    border: 2px solid #ffe082;
    border-radius: 10px;
    padding: 5px;

    margin-top: 5px;
}

/*td,
th {
    border: 2px solid #ffe082;
    border-radius: 10px;
}*/

#tabelaHorariaPai {
    border-collapse: collapse;
}

.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7 {
    border: 2px solid #ffe082;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 250px;


}

.tempo7d {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.agorapai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer>p {
    background-color: white;
    border: 2px solid #ffe082;
    border-radius: 10px;
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

#i1 {
    border-radius: 5px;
}

#i2 {
    border-radius: 5px;
    width: 95%;
    height: 100px;
}

.novoLocal_hide {
    display: none;
}

.comentario {

    border: 2px solid #ffe082;
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
}

.comentarioTexto {
    border: 2px solid #ffe082;
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
    white-space: pre-wrap;
    /* mantém quebras de linha e quebra automaticamente quando chega no final */
    word-wrap: break-word;
    margin-left: 5px;
    margin-right: 5px;
}

.estilop {
    color: white;
    text-align: center;
}

#estilop {
    color: white;
    text-align: center;
}

.btn2estilo {
    display: flex;
    justify-content: center;
}