{% extends "t2/layout.html" %}
{% block body %}
<div class="novoLocal_hide" id="NovoLocal">
    <h2 id="estilot1">Insira um novo local aqui:</h2>

    <form action="{% url 'novolocal' %}" method="post" id="estiloForm1">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td><label><strong>Nome do local</strong></label></td>
                    <td><input type="text" name="nomeLocal" placeholder="Dê um nome ao local"><br></td>
                </tr>
                <tr>
                    <td><label><strong>Latitude:</strong></label></td>
                    <td><input type="text" name="latitude" placeholder="latitude"><br></td>
                </tr>
                <tr>
                    <td><label><strong>Longitude:</strong></label></td>
                    <td><input type="text" name="longitude" placeholder="longitude"><br></td>
                </tr>
            </tbody>
        </table>

        <button type="submit" id="estiloBtn1">Enviar novo local</button>
    </form>
    <hr>
</div>
<div class="pesquisando-local">
    <div class="local-digitado">
        <h2 id="estilot2">Pesquise seu local digitando os dados:</h2>
        <form id="estiloForm2">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td><label><strong>Latitude:</strong></label></td>
                        <td><input type="text" id="latitudeScript"></td>
                    </tr>
                    <tr>
                        <td><strong>Longitude:</strong></td>
                        <td><input type="text" id="longitudeScript"><br></td>
                    </tr>
                </tbody>
            </table>

            <button id="btnBuscaLocalDigitadoScript" class="estiloBtn2">Buscar</button>
        </form>
        <hr>
    </div>
    <div class="local-selection">
        <h2 id="estilot3">Ou busque em um de seus locais salvos:</h2>
        <div id="estiloForm4">
            <table>
                <tbody>
                    <tr>
                        <td> <label class="i1"><strong>Local salvo:</strong></label></td>
                        <td><select name="seleção">
                                {% for l in locais %}
                                <option value="{{l.id}}">{{l.apelido}}</option>
                                {% endfor %}
                            </select><br></td>
                    </tr>
                </tbody>
            </table>
            <button id="btnBuscarLocalSalvoScript" class="estiloBtn3">Buscar</button>
        </div>

        <hr>
    </div>

</div>
<div class="tempoAgora">
    <h2>{{dia0}}</h2>
    <h2 id="estilot3"> Condições do tempo Agora:</h2>
    <div class="agorapai">
        <div class="estiloPrevisaoAgora">

            <p><strong>Temperatura:</strong></p>
            <p id="scriptTemperaturaAgora"></p>
            <p><strong>Velocidade do vento:</strong></p>
            <p id="scriptVelocidadedoVentoAgora"></p>
            <p><strong>Precipitação total:</strong></p>
            <p id="scriptPrecipitacaoTotalAgora"></p>
            <p><strong>Condição meteorológica:</strong></p>
            <p id="scriptCondicaoMeteorologicaAgora"></p>
            <p><strong>Direção do vento:</strong></p>
            <p id="scriptDirecaoVentoAgora"></p>
            <p><strong>Umidade Relativa:</strong></p>
            <p id="scriptUmidadeRelativaAgora"></p>
        </div>
    </div>


    <hr>
</div>

<div class="tempo7d">
    <h2 id="estilot5">Previsão para os próximos sete dias:</h2>
    <div class="d1">
        <h2>{{dia1}}</h2>

        <p><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura1"></p>
        <p><strong>Velocidade do vento:</strong></p>
        <p id="scriptVelocidadedeVento1"></p>
        <p><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal1"></p>
        <p><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica1"></p>
        <p><strong>Velocidade do Vento:</strong></p>

        <p id="scriptDirecaoVento1"></p>
        <p><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa1"></p>

    </div>
    <div class="d2">
        <h2>{{dia2}}</h2>
        <p><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura2"></p>
        <p><strong>Velocidade do vento:</strong></p>
        <p id="scriptVelocidadedeVento2"></p>
        <p><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal2"></p>
        <p><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica2"></p>

        <p><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento2"></p>
        <p><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa2"></p>
    </div>
    <div class="d3">
        <h2>{{dia3}}</h2>
        <p><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura3"></p>
        <p><strong>Velocidade do vento:</strong></p>
        <p id="scriptVelocidadedeVento3"></p>
        <p><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal3"></p>
        <p><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica3"></p>

        <p><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento3"></p>
        <p><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa3"></p>
    </div>
    <div class="d4">
        <h2>{{dia4}}</h2>
        <p><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura4"></p>
        <p><strong>Velocidade do vento:</strong></p>
        <p id="scriptVelocidadedeVento4"></p>
        <p><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal4"></p>
        <p><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica4"></p>

        <p><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento4"></p>
        <p><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa4"></p>
    </div>
    <div class="d5">
        <h2>{{dia5}}</h2>
        <p><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura5"></p>
        <p><strong>Velocidade do vento:</strong></p>
        <p id="scriptVelocidadedeVento5"></p>
        <p><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal5"></p>
        <p><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica5"></p>

        <p><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento5"></p>
        <p><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa5"></p>
    </div>
    <div class="d6">
        <h2>{{dia6}}</h2>
        <p><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura6"></p>
        <p><strong>Velocidade do vento:</strong></p>
        <p id="scriptVelocidadedeVento6"></p>
        <p><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal6"></p>
        <p><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica6"></p>

        <p><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento6"></p>
        <p><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa6"></p>
    </div>
    <div class="d7">
        <h2>{{dia7}}</h2>
        <p><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura7"></p>
        <p><strong>Velocidade do vento:</strong></p>
        <p id="scriptVelocidadedeVento7"></p>
        <p><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal7"></p>
        <p><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica7"></p>

        <p><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento7"></p>
        <p><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa7"></p>
    </div>

</div>
<hr>
<div class="InserirComentario">
    <h1 id="estilot6">Escreva seu elogio crítica ou sugestão ao nosso sistema:</h1>
    <form id="estiloForm3">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <td class="td1"><label><strong>título</strong>:</label></td>
                    <td class="td1"><input type="text" name="tituloComentario" placeholder="Digite seu comentário"
                            id="i1"></td>
                </tr>
                <tr>
                    <td class="td1"><label><strong>Comentário:</strong></label></td>
                    <td class="td1"><textarea name="comentario" id="i2"></textarea></td>
                </tr>
            </thead>
        </table>

        <button type="submit" class="estiloBtn4">Enviar</button>
    </form>
    <hr>
</div>
<div class="comentariosInseridos">
    <h2 id="estilot7"> Segue abaixo o que falaram sobre nosso sistema:</h2>
    {% for c in comentarios %}
    <p><strong>Usuário:</strong></p>
    <p>{{c.autorComentario}}</p><br>
    <p><strong>Título:</strong></p>
    <p>{{c.tituloComentario}}</p><br>
    <p><strong>Comentario:</strong></p>
    <p>{{c.comentario}}</p>

    {% endfor %}
    <hr>
</div>



{% endblock %}