{% extends "t2/layout.html" %}
{% block body %}
<div class="novoLocal_hide" id="NovoLocal">
    <h2 id="estilot1">Insira um novo local aqui:</h2>

    <form action="{% url 'novolocal' %}" method="post" id="estiloForm1">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td><label><strong>Nome do local</strong></label></td>
                    <td><input type="text" name="nomeLocal" placeholder="Dê um nome ao local"><br></td>
                </tr>
                <tr>
                    <td><label><strong>Latitude:</strong></label></td>
                    <td><input type="text" name="latitude" placeholder="latitude"><br></td>
                </tr>
                <tr>
                    <td><label><strong>Longitude:</strong></label></td>
                    <td><input type="text" name="longitude" placeholder="longitude"><br></td>
                </tr>
            </tbody>
        </table><br>

        <button type="submit" id="estiloBtn1">Enviar novo local</button>
    </form>
    <hr>
</div>
<div class="pesquisando-local">
    <div class="local-digitado">
        <h2 id="estilot2">Pesquise seu local digitando os dados:</h2>
        <form id="estiloForm2">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td><label><strong>Latitude:</strong></label></td>
                        <td><input type="text" id="latitudeScript"></td>
                    </tr>
                    <tr>
                        <td><strong>Longitude:</strong></td>
                        <td><input type="text" id="longitudeScript"><br></td>
                    </tr>
                </tbody>
            </table>

            <button id="btnBuscaLocalDigitadoScript" class="estiloBtn2">Buscar</button>
        </form>
        <hr>
    </div>
    <div class="local-selection">
        <h2 id="estilot3">Ou busque em um de seus locais salvos:</h2>
        <div id="estiloForm4">

            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td> <label class="i1"><strong>Local salvo:</strong></label></td>
                        <td><select name="seleção" id="select">
                                {% for l in locais %}
                                <option value="{{l.id}}" name="opcao">{{l.apelido}}</option>
                                {% endfor %}
                            </select><br></td>

                    </tr>


                </tbody>
            </table>

            </form>


        </div>
        <div class="llestilo">
            <div class="ll3">
                <p class="estilop">Latitude:</p>
                <p id="latitudeBusca" class="estilop2">-</p>

                <p class="estilop">Longitude:</p>
                <p id="longitudeBusca" class="estilop2">-</p>

            </div>



            <script>
                document.getElementById("select").addEventListener("change", function () {
                    let id = this.value;
                    fetch(`/get_local/${id}/`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById("latitudeBusca").innerText = data.latitude || "-";
                            document.getElementById("longitudeBusca").innerText = data.longitude || "-";
                        })
                        .catch(err => console.error(err));
                });
            </script>


        </div>


        <hr>
    </div>
    <div class="btn2estilo">
        <button type="button" id="btn">Buscar por seleção</button>
    </div>
    <hr>

</div>
<div class="tempoAgora">
    <h2 class="estilop">{{dia0}}</h2>
    <h2 id="estilot3"> Condições do tempo Agora:</h2>
    <div class="agorapai">
        <div class="estiloPrevisaoAgora">

            <p class="estilop"><strong>Temperatura:</strong></p>
            <p id="scriptTemperaturaAgora" class="estilop"></p>
            <p class="estilop"><strong>Velocidade do vento:</strong></p>
            <p id="scriptVelocidadedoVentoAgora" class="estilop"></p>
            <p class="estilop"><strong>Precipitação total:</strong></p>
            <p id="scriptPrecipitacaoTotalAgora" class="estilop"></p>
            <p class="estilop"><strong>Condição meteorológica:</strong></p>
            <p id="scriptCondicaoMeteorologicaAgora" class="estilop"></p>
            <p class="estilop"><strong>Direção do vento:</strong></p>
            <p id="scriptDirecaoVentoAgora" class="estilop"></p>
            <p class="estilop"><strong>Umidade Relativa:</strong></p>
            <p id="scriptUmidadeRelativaAgora" class="estilop"></p>
        </div>
    </div>


    <hr>
</div>

<div class="tempo7d">
    <h2 id="estilot5">Previsão para os próximos sete dias:</h2>
    <div class="d1">
        <h2 class="estilop">{{dia1}}</h2>

        <p class="estilop"><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura1" class="estilop"></p>
        <p class="estilop"><strong>precipitação:</strong></p>
        <p id="scriptPrecipitacaoTotal1" class="estilop"></p>
        <p class="estilop"><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica1" class="estilop"></p>
        <p class="estilop"><strong>Velocidade do Vento:</strong></p>
        <p id="scriptVelocidadedeVento1" class="estilop"></p>
        <p class="estilop"><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento1" class="estilop"></p>
        <p class="estilop"><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa1" class="estilop"></p>

    </div>
    <div class="d2">
        <h2 class="estilop">{{dia2}}</h2>
        <p class="estilop"><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura2" class="estilop"></p>

        <p class="estilop"><strong>Precipitação:</strong></p>
        <p id="scriptPrecipitacaoTotal2" class="estilop"></p>
        <p class="estilop"><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica2" class="estilop"></p>
        <p class="estilop"><strong>Velocidade do Vento:</strong></p>
        <p id="scriptVelocidadedeVento2" class="estilop"></p>
        <p class="estilop"><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento2" class="estilop"></p>
        <p class="estilop"><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa2" class="estilop"></p>
    </div>
    <div class="d3">
        <h2 class="estilop">{{dia3}}</h2>
        <p class="estilop"><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura3" class="estilop"></p>

        <p class="estilop"><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal3" class="estilop"></p>
        <p class="estilop"><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica3" class="estilop"></p>
        <p class="estilop"><strong>Velocidade do Vento:</strong></p>
        <p id="scriptVelocidadedeVento3" class="estilop"></p>
        <p class="estilop"><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento3" class="estilop"></p>
        <p class="estilop"><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa3" class="estilop"></p>
    </div>
    <div class="d4">
        <h2 class="estilop">{{dia4}}</h2>
        <p class="estilop"><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura4" class="estilop"></p>

        <p class="estilop"><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal4" class="estilop"></p>
        <p class="estilop"><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica4" class="estilop"></p>
        <p class="estilop"><strong>Velocidade do Vento:</strong></p>
        <p id="scriptVelocidadedeVento4" class="estilop"></p>
        <p class="estilop"><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento4" class="estilop"></p>
        <p class="estilop"><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa4" class="estilop"></p>
    </div>
    <div class="d5">
        <h2 class="estilop">{{dia5}}</h2>
        <p class="estilop"><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura5" class="estilop"></p>

        <p class="estilop"><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal5" class="estilop"></p>
        <p class="estilop"><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica5" class="estilop"></p>
        <p class="estilop"><strong>Velocidade do Vento:</strong></p>
        <p id="scriptVelocidadedeVento5" class="estilop"></p>
        <p class="estilop"><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento5" class="estilop"></p>
        <p class="estilop"><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa5" class="estilop"></p>
    </div>
    <div class="d6">
        <h2 class="estilop">{{dia6}}</h2>
        <p class="estilop"><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura6" class="estilop"></p>

        <p class="estilop"><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal6" class="estilop"></p>
        <p class="estilop"><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica6" class="estilop"></p>
        <p class="estilop"><strong>Velocidade do Vento:</strong></p>
        <p id="scriptVelocidadedeVento6" class="estilop"></p>
        <p class="estilop"><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento6" class="estilop"></p>
        <p class="estilop"><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa6" class="estilop"></p>
    </div>
    <div class="d7">
        <h2 class="estilop">{{dia7}}</h2>
        <p class="estilop"><strong>Temperatura:</strong></p>
        <p id="scriptTemperatura7" class="estilop"></p>

        <p class="estilop"><strong>Precipitação total:</strong></p>
        <p id="scriptPrecipitacaoTotal7" class="estilop"></p>
        <p class="estilop"><strong>Condição meteorológica:</strong></p>
        <p id="scriptCondicaoMeteorologica7" class="estilop"></p>
        <p class="estilop"><strong>Velocidade do Vento:</strong></p>
        <p id="scriptVelocidadedeVento7" class="estilop"></p>
        <p class="estilop"><strong>Direção do vento:</strong></p>
        <p id="scriptDirecaoVento7" class="estilop"></p>
        <p class="estilop"><strong>Umidade Relativa:</strong></p>
        <p id="scriptUmidadeRelativa7" class="estilop"></p>
    </div>

</div>
<hr>
<div class="InserirComentario">
    <h1 id="estilot6">Escreva seu elogio crítica ou sugestão ao nosso sistema:</h1>
    <form action="{% url 'comentar' %}" method="post" id="estiloForm3">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <td class="estilop"><label><strong>título</strong>:</label></td>
                    <td class="estilop"><input type="text" name="tituloComentario" placeholder="Digite seu comentário"
                            id="i1"></td>
                </tr>
                <tr>
                    <td class="estilop"><label><strong>Comentário:</strong></label></td>
                    <td class="estilop"><textarea name="comentario" id="i2"></textarea></td>
                </tr>
            </thead>
        </table>

        <button type="submit" class="estiloBtn4">Enviar</button>
    </form>
    <hr>
</div>
<div class="comentariosInseridos">
    <h2 id="estilot7"> Segue abaixo o que falaram sobre nosso sistema:</h2>
    {% for c in comentarios %}
    <div class="comentario">
        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
        <strong class="estilop">Usuário:</strong>
        <p class="comentarioItem" id="estilop">{{c.usuario.username}}</p>
        <strong class="estilop">Título:</strong>
        <p class="comentarioItem" id="estilop">{{c.titulo}}</p>
        <p class="estilop"><strong>Comentario:</strong></p>

        <p class="comentarioTexto" id="estilop">{{c.comentario}}</p>
    </div>


    {% endfor %}
    <hr>
</div>



{% endblock %}