{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo aqui</title>
    <link rel="stylesheet" href="{% static 't2/estilo.css' %}">

</head>

<body>
    <header>
        <h1 id="tituloPrincipal">Tempo Aqui</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Início</a>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'registrar' %}">Novo usuário</a>
        <a href="#" class="scriptNovoLocalLink">Adicione seu local</a>

    </nav>
    {% block body %}
    {% endblock %}

    <footer>
        <p>Produzido por Sandro da Paixão Coelho sandrocoelho2023a@gmail.com </p>
    </footer>
    <script src="{% static 't2/script.js' %}"></script>
</body>

</html>